/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.12.2015, 8:14:14
    Author     : igor
*/

.background {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}

.table-view {
    -fx-base: black;                                                             //in header
    -fx-control-inner-background: transparent;                                      //in cell
    -fx-background-color: transparent;                                              //cell border top-bottom
    -fx-table-cell-border-color: transparent;                                       //cell border rigtht-left
    -fx-table-header-border-color: transparent;                                     //???
    -fx-padding: 0;
}
.table-row-cell{
    -fx-font-size: 15pt;
}

.table-row-cell:odd {
    -fx-background-color: #7d7d7d;
}

.table-row-cell:even{
    -fx-background-color: #666666;
}

.column-header
{
    -fx-size: 35pt;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.text-field{
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color:#f1f9ff;
    -fx-text-fill:black;
    -fx-font-weight:bold;
}
#searchField
{
    -fx-background-insets:10 10 10 10;
    -fx-background-color:#f1f9ff;
}

#tableButton {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 100;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    -fx-font-size: 5pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-radius:100;
}

#tableButton:hover {
    -fx-background-color: #ff8100;
    -fx-text-fill:black;
    -fx-font-size: 12pt;
}

#tableButton:pressed {
  -fx-background-color: -fx-focus-color;
  -fx-text-fill: white;
  -fx-padding: 5 22 5 22;   
  -fx-border-color: #e2e2e2;
  -fx-border-width: 2;
  -fx-background-radius: 100;
  -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
  -fx-text-fill: #d8d8d8;
  -fx-background-insets: 0 0 0 0, 0, 1, 2;
  -fx-border-radius:100;
}

#tableButton:focused {
  -fx-background-color: -fx-focus-color;
  -fx-text-fill: white;
  -fx-padding: 5 22 5 22;   
  -fx-border-color: #e2e2e2;
  -fx-border-width: 2;
  -fx-background-radius: 100;
  -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
  -fx-text-fill: #d8d8d8;
  -fx-background-insets: 0 0 0 0, 0, 1, 2;
  -fx-border-radius:100;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #c8c8c8;
    -fx-text-fill: #7e7e7e;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

#hbox{
    -fx-background-color:black;
}

.button{
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-radius:0;
}

.button:hover {
    -fx-background-color: #ff8100;
    -fx-text-fill:black;
}

.button:pressed {
  -fx-background-color: -fx-focus-color;
  -fx-text-fill: white;
  -fx-padding: 5 22 5 22;   
  -fx-border-color: #e2e2e2;
  -fx-border-width: 2;
  -fx-background-radius: 0;
  -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
  -fx-text-fill: #d8d8d8;
  -fx-background-insets: 0 0 0 0, 0, 1, 2;
  -fx-border-radius:0;
}

.button:focused {
  -fx-background-color: -fx-focus-color;
  -fx-text-fill: white;
  -fx-padding: 5 22 5 22;   
  -fx-border-color: #e2e2e2;
  -fx-border-width: 2;
  -fx-background-radius: 0;
  -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
  -fx-text-fill: #d8d8d8;
  -fx-background-insets: 0 0 0 0, 0, 1, 2;
  -fx-border-radius:0;
}

#gridPane
{
  -fx-background-color:#666666;
}

.radio-button
{
    -fx-text-fill:white;
    -fx-font-size:13pt;
}

#toolBar
{
    -fx-background-color:black;
}

.tab-pane .tab
{
    -fx-background-color: black;
}

.tab-pane .tab:hover {
    -fx-background-color: #ff8100;
}

.tab-pane .tab:pressed {
    -fx-background-color: -fx-focus-color;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab .tab-label:hover { 
    -fx-text-fill: black;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #7d7d7d;
}

.tab-pane .tab:selected
{
    -fx-background-color: -fx-focus-color;
}

#timeLabel
{
    -fx-font-family:"Iris";
    -fx-font-size:12pt;
    -fx-font-style:normal;
    -fx-font-weight:bolder;
}